.dashboard-title{
    font-size: 3em;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: rgb(43, 8, 88);
}

.dashboard-component{
    margin-left: 12.5%;
    margin-top: 2%;

}

.dashboard-para{
    margin-top: 2%;
} 