@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Mono:wght@500&family=Space+Mono:wght@700&family=Ubuntu+Mono:wght@700&display=swap');


.homepage-title{

    width: 620px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -310px;       
    margin-top: -50px; 
    
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    font-size: 2.1vw;
    text-decoration:  ;
    color: white;
    /* display: block;
    margin: auto; */
    
}

.homepage-box{
    position: absolute;
    bottom: 0px;
    left: 30%;
    height: 200px;
    width: 42%;
    background-color: rgb(43, 8, 88,0.6);
}

.savgen-asset-manager{
    position: relative;
    top: 35%;
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.2vw;
}

.learn-more-button{
    position: relative;
    top: 40%;
    left:39%;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.2vw;
    background: #eb1515;
    padding: 10px 20px 10px 20px;
    /* border: solid #eb1515 2px; */
    text-decoration: none;
    
}
.learn-more-button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
    text-decoration: none;
}